events {}

http {
    server {
        listen {{ install_nginx_nginx_port }};
        server_name {{ install_nginx_nginx_server_name }};

        access_log {{ install_nginx_nginx_access_log }};
        error_log  {{ install_nginx_nginx_error_log }};

        location / {
            root {{ install_nginx_nginx_catalog }};
            autoindex on;
        }
    }
}
